In [205]:
import pandas as pd
from functions import *
from dbfread import DBF
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### **Dataset**: `annotations.csv`

In [2]:
annotations = pd.read_csv('../Data/Original/annotations.csv')
pd.set_option('display.max_columns', None)
annotations.head()

,split,sensor_id,audio_filename,annotator_id,borough,block,latitude,longitude,year,week,day,hour,1-1_small-sounding-engine_presence,1-2_medium-sounding-engine_presence,1-3_large-sounding-engine_presence,1-X_engine-of-uncertain-size_presence,2-1_rock-drill_presence,2-2_jackhammer_presence,2-3_hoe-ram_presence,2-4_pile-driver_presence,2-X_other-unknown-impact-machinery_presence,3-1_non-machinery-impact_presence,4-1_chainsaw_presence,4-2_small-medium-rotating-saw_presence,4-3_large-rotating-saw_presence,4-X_other-unknown-powered-saw_presence,5-1_car-horn_presence,5-2_car-alarm_presence,5-3_siren_presence,5-4_reverse-beeper_presence,5-X_other-unknown-alert-signal_presence,6-1_stationary-music_presence,6-2_mobile-music_presence,6-3_ice-cream-truck_presence,6-X_music-from-uncertain-source_presence,7-1_person-or-small-group-talking_presence,7-2_person-or-small-group-shouting_presence,7-3_large-crowd_presence,7-4_amplified-speech_presence,7-X_other-unknown-human-voice_presence,8-1_dog-barking-whining_presence,1-1_small-sounding-engine_proximity,1-2_medium-sounding-engine_proximity,1-3_large-sounding-engine_proximity,1-X_engine-of-uncertain-size_proximity,2-1_rock-drill_proximity,2-2_jackhammer_proximity,2-3_hoe-ram_proximity,2-4_pile-driver_proximity,2-X_other-unknown-impact-machinery_proximity,3-1_non-machinery-impact_proximity,4-1_chainsaw_proximity,4-2_small-medium-rotating-saw_proximity,4-3_large-rotating-saw_proximity,4-X_other-unknown-powered-saw_proximity,5-1_car-horn_proximity,5-2_car-alarm_proximity,5-3_siren_proximity,5-4_reverse-beeper_proximity,5-X_other-unknown-alert-signal_proximity,6-1_stationary-music_proximity,6-2_mobile-music_proximity,6-3_ice-cream-truck_proximity,6-X_music-from-uncertain-source_proximity,7-1_person-or-small-group-talking_proximity,7-2_person-or-small-group-shouting_proximity,7-3_large-crowd_proximity,7-4_amplified-speech_proximity,7-X_other-unknown-human-voice_proximity,8-1_dog-barking-whining_proximity,1_engine_presence,2_machinery-impact_presence,3_non-machinery-impact_presence,4_powered-saw_presence,5_alert-signal_presence,6_music_presence,7_human-voice_presence,8_dog_presence
0,test,0,00_026884.wav,-6,1,547,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,-1,0,0,0,0,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0,-1,-1,-1,-1,-1
1,test,0,00_026884.wav,-4,1,547,40.72951,-73.99388,2019,43,4,8,0,0,1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
2,test,0,00_026884.wav,-3,1,547,40.72951,-73.99388,2019,43,4,8,0,1,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
3,test,0,00_026884.wav,-1,1,547,40.72951,-73.99388,2019,43,4,8,-1,-1,-1,-1,0,0,0,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,test,0,00_026884.wav,0,1,547,40.72951,-73.99388,2019,43,4,8,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0,1,0,0,0,0,0

In [3]:
df_sound = annotations[['borough', 'latitude', 'longitude', 'year', 'day', 'hour', '1_engine_presence']]
df_sound.head()

   borough  latitude  longitude  year  day  hour  1_engine_presence
0        1  40.72951  -73.99388  2019    4     8                 -1
1        1  40.72951  -73.99388  2019    4     8                  1
2        1  40.72951  -73.99388  2019    4     8                  1
3        1  40.72951  -73.99388  2019    4     8                 -1
4        1  40.72951  -73.99388  2019    4     8                  1

In [4]:
df_sound.rename(columns={'1_engine_presence': 'engine_sound'}, inplace=True)

In [5]:
mapping = {-1: 'Low', 0: 'Medium', 1: 'High'}

df_sound['engine_sound'] = df_sound['engine_sound'].map(mapping)
df_sound.head()

   borough  latitude  longitude  year  day  hour engine_sound
0        1  40.72951  -73.99388  2019    4     8          Low
1        1  40.72951  -73.99388  2019    4     8         High
2        1  40.72951  -73.99388  2019    4     8         High
3        1  40.72951  -73.99388  2019    4     8          Low
4        1  40.72951  -73.99388  2019    4     8         High

In [6]:
df_sound = df_sound.rename(columns={'borough': 'Borough', 'latitude': 'Latitude', 'longitude': 'Longitude', 'year': 'year', 'day': 'Day', 'hour': 'Hour', 'engine_sound': 'Engine Sound'})
df_sound.head()

   Borough  Latitude  Longitude  year  Day  Hour Engine Sound
0        1  40.72951  -73.99388  2019    4     8          Low
1        1  40.72951  -73.99388  2019    4     8         High
2        1  40.72951  -73.99388  2019    4     8         High
3        1  40.72951  -73.99388  2019    4     8          Low
4        1  40.72951  -73.99388  2019    4     8         High

In [7]:
df_sound.to_parquet('../Data/Normalized/sound_quality.parquet', index=False)

### **Dataset**: `Air_Quality_20240506.csv`

In [8]:
df_air_quality = pd.read_csv('../Data/Original/Air_Quality_20240506.csv', index_col='Unique ID')
df_air_quality.head()

,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
Unique ID,,,,,,,,,,,
179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN

In [9]:
df_air_quality.drop(columns=['Message', 'Measure', 'Indicator ID', 'Start_Date', 'Geo Type Name', 'Geo Join ID'], inplace=True)

In [10]:
df_air_quality = df_air_quality[df_air_quality['Time Period'].str.contains('Annual Average 2020|Annual Average 2021|Annual Average 2022')]

In [11]:
df_air_quality['Geo Place Name'] = df_air_quality['Geo Place Name'].astype(str)

In [12]:
df_air_quality['Borough'] = df_air_quality['Geo Place Name'].apply(get_borough)

In [13]:
df_air_quality = df_air_quality.drop('Geo Place Name', axis=1)

In [14]:
df_air_quality['Time Period'].unique()

array(['Annual Average 2021', 'Annual Average 2020',
       'Annual Average 2022'], dtype=object)

In [15]:
# Crea la columna 'Year' utilizando la funcin extract_year
df_air_quality['Year'] = df_air_quality['Time Period'].apply(extract_year)

In [16]:
# Eliminamos la columna 'Time Period' ya que no nos aporta informacin
df_air_quality = df_air_quality.drop('Time Period', axis=1)

<class 'pandas.core.frame.DataFrame'>
Index: 846 entries, 741006 to 825908
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          846 non-null    object
 1   Measure Info  846 non-null    object
 2   Time Period   846 non-null    object
 3   Data Value    846 non-null    float64
 4   Borough       846 non-null    object
 5   Year          846 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 46.3+ KB

In [17]:
df_air_quality = df_air_quality.groupby(['Name', 'Borough', 'Year', 'Measure Info']).agg({'Data Value': 'mean'}).reset_index()

In [18]:
df_air_quality

                       Name        Borough  Year Measure Info  Data Value
0   Fine particles (PM 2.5)          Bronx  2020       mcg/m3    6.150000
1   Fine particles (PM 2.5)          Bronx  2021       mcg/m3    6.725000
2   Fine particles (PM 2.5)          Bronx  2022       mcg/m3    6.137500
3   Fine particles (PM 2.5)       Brooklyn  2020       mcg/m3    6.167568
4   Fine particles (PM 2.5)       Brooklyn  2021       mcg/m3    6.667568
5   Fine particles (PM 2.5)       Brooklyn  2022       mcg/m3    5.843243
6   Fine particles (PM 2.5)      Manhattan  2020       mcg/m3    7.137037
7   Fine particles (PM 2.5)      Manhattan  2021       mcg/m3    7.388889
8   Fine particles (PM 2.5)      Manhattan  2022       mcg/m3    6.925926
9   Fine particles (PM 2.5)         Queens  2020       mcg/m3    6.250000
10  Fine particles (PM 2.5)         Queens  2021       mcg/m3    6.612500
11  Fine particles (PM 2.5)         Queens  2022       mcg/m3    5.866667
12  Fine particles (PM 2.5)  Staten Island  2020       mcg/m3    5.600000
13  Fine particles (PM 2.5)  Staten Island  2021       mcg/m3    6.185714
14  Fine particles (PM 2.5)  Staten Island  2022       mcg/m3    5.228571
15  Fine particles (PM 2.5)        Unknown  2020       mcg/m3    6.120000
16  Fine particles (PM 2.5)        Unknown  2021       mcg/m3    6.583333
17  Fine particles (PM 2.5)        Unknown  2022       mcg/m3    5.890000
18   Nitrogen dioxide (NO2)          Bronx  2020          ppb   17.750000
19   Nitrogen dioxide (NO2)          Bronx  2021          ppb   17.043750
20   Nitrogen dioxide (NO2)          Bronx  2022          ppb   16.356250
21   Nitrogen dioxide (NO2)       Brooklyn  2020          ppb   16.240541
22   Nitrogen dioxide (NO2)       Brooklyn  2021          ppb   16.872973
23   Nitrogen dioxide (NO2)       Brooklyn  2022          ppb   15.597297
24   Nitrogen dioxide (NO2)      Manhattan  2020          ppb   20.429630
25   Nitrogen dioxide (NO2)      Manhattan  2021          ppb   19.907407
26   Nitrogen dioxide (NO2)      Manhattan  2022          ppb   18.911111
27   Nitrogen dioxide (NO2)         Queens  2020          ppb   15.733333
28   Nitrogen dioxide (NO2)         Queens  2021          ppb   16.183333
29   Nitrogen dioxide (NO2)         Queens  2022          ppb   15.575000
30   Nitrogen dioxide (NO2)  Staten Island  2020          ppb   12.128571
31   Nitrogen dioxide (NO2)  Staten Island  2021          ppb   13.428571
32   Nitrogen dioxide (NO2)  Staten Island  2022          ppb   11.800000
33   Nitrogen dioxide (NO2)        Unknown  2020          ppb   15.756667
34   Nitrogen dioxide (NO2)        Unknown  2021          ppb   16.023333
35   Nitrogen dioxide (NO2)        Unknown  2022          ppb   15.263333

In [19]:
df_air_quality.to_parquet('../Data/Normalized/air_quality.parquet', index=False)

### **Dataset**: `my2023-fuel-consumption-ratings.csv`

In [36]:
df_fuel_consumption = pd.read_csv('../Data/Original/my2023-fuel-consumption-ratings.csv', encoding='latin-1')
df_fuel_consumption.head()

,Model year,Make,Model,Vehicle class,Engine size (L),Cylinders,Transmission,Fuel type,City (L/100 km),Highway (L/100 km),Combined (L/100 km),Combined (mpg),CO2 emissions (g/km),CO2 rating,Smog rating
0,2023,Acura,Integra,Full-size,1.5,4,AV7,Z,7.9,6.3,7.2,39,167,6,7
1,2023,Acura,Integra A-SPEC,Full-size,1.5,4,AV7,Z,8.1,6.5,7.4,38,172,6,7
2,2023,Acura,Integra A-SPEC,Full-size,1.5,4,M6,Z,8.9,6.5,7.8,36,181,6,6
3,2023,Acura,MDX SH-AWD,Sport utility vehicle: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
4,2023,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,3.0,6,AS10,Z,13.8,11.2,12.4,23,291,4,5

In [37]:
df_fuel_consumption = df_fuel_consumption[['Model year', 'Make', 'Model', 'Vehicle class','Fuel type', 'City (L/100 km)', 'CO2 emissions (g/km)', 'CO2 rating', 'Smog rating']]

In [38]:
df_fuel_consumption['Fuel type'] = df_fuel_consumption['Fuel type'].apply(fuel)

In [39]:
df_fuel_consumption.rename(columns={'City (L/100 km)': 'Consumption'}, inplace=True)

In [40]:
df_fuel_consumption.head()

,Model year,Make,Model,Vehicle class,Fuel type,Consumption,CO2 emissions (g/km),CO2 rating,Smog rating
0,2023,Acura,Integra,Full-size,Gasoline,7.9,167,6,7
1,2023,Acura,Integra A-SPEC,Full-size,Gasoline,8.1,172,6,7
2,2023,Acura,Integra A-SPEC,Full-size,Gasoline,8.9,181,6,6
3,2023,Acura,MDX SH-AWD,Sport utility vehicle: Small,Gasoline,12.6,263,4,5
4,2023,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,Gasoline,13.8,291,4,5

### **Dataset**: `my2012-2024-battery-electric-vehicles.csv`

In [41]:
df_battery_electric = pd.read_csv('../Data/Original/my2012-2024-battery-electric-vehicles.csv', encoding='latin-1')
df_battery_electric.head()

,Model year,Make,Model,Vehicle class,Motor (kW),Transmission,Fuel type,City (kWh/100 km),Highway (kWh/100 km),Combined (kWh/100 km),City (Le/100 km),Highway (Le/100 km),Combined (Le/100 km),Range (km),CO2 emissions (g/km),CO2 rating,Smog rating,Recharge time (h)
0,2012,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,NaN,NaN,7.0
1,2012,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,NaN,NaN,7.0
2,2013,Ford,Focus Electric,Compact,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,122,0,NaN,NaN,4.0
3,2013,Mitsubishi,i-MiEV,Subcompact,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,100,0,NaN,NaN,7.0
4,2013,Nissan,LEAF,Mid-size,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,117,0,NaN,NaN,7.0

In [42]:
df_battery_electric = df_battery_electric[['Model year', 'Make', 'Model', 'Vehicle class', 'Fuel type', 'City (kWh/100 km)', 'CO2 emissions (g/km)', 'CO2 rating ', 'Smog rating']]

In [43]:
df_battery_electric.rename(columns={'CO2 rating ': 'CO2 rating', 'City (kWh/100 km)': 'Consumption'}, inplace=True)

In [44]:
df_battery_electric['Fuel type'] = df_battery_electric['Fuel type'].apply(fuel)

In [186]:
df_battery_electric = df_battery_electric[df_battery_electric['Model year'] >= 2019]

In [187]:
df_vehicle_consumption = pd.concat([df_fuel_consumption, df_battery_electric], axis=0)
df_vehicle_consumption.reset_index(drop=True)
df_vehicle_consumption.head()

,Model year,Make,Model,Vehicle class,Fuel type,Consumption,CO2 emissions (g/km),CO2 rating,Smog rating
0,2023,Acura,Integra,Full-size,Gasoline,7.9,167,6.0,7.0
1,2023,Acura,Integra A-SPEC,Full-size,Gasoline,8.1,172,6.0,7.0
2,2023,Acura,Integra A-SPEC,Full-size,Gasoline,8.9,181,6.0,6.0
3,2023,Acura,MDX SH-AWD,Sport utility vehicle: Small,Gasoline,12.6,263,4.0,5.0
4,2023,Acura,MDX SH-AWD Type S,Sport utility vehicle: Standard,Gasoline,13.8,291,4.0,5.0

In [188]:
df_vehicle_consumption['Vehicle class'].unique()

array(['Full-size', 'Sport utility vehicle: Small',
       'Sport utility vehicle: Standard', 'Compact', 'Mid-size',
       'Minicompact', 'Two-seater', 'Subcompact', 'Station wagon: Small',
       'Station wagon: Mid-size', 'Pickup truck: Small',
       'Pickup truck: Standard', 'Minivan', 'Special purpose vehicle'],
      dtype=object)

In [189]:
# Mantenemos solo las filas donde 'Vehicle Class' es 'Full-size', 'Sport utility vehicle: Small', 'Sport utility vehicle: Standard', 'Compact', 'Mid-size'
df_vehicle_consumption = df_vehicle_consumption[df_vehicle_consumption['Vehicle class'].isin(['Full-size', 'Sport utility vehicle: Small', 'Sport utility vehicle: Standard', 'Compact', 'Mid-size', 'Minivan'])]
df_vehicle_consumption['Vehicle class'].unique()

array(['Full-size', 'Sport utility vehicle: Small',
       'Sport utility vehicle: Standard', 'Compact', 'Mid-size',
       'Minivan'], dtype=object)

In [190]:
df_vehicle_consumption.to_parquet('../Data/Normalized/vehicle_consumption.parquet', index=False)

***
### **Dataset**: `Electric and Alternative Fuel Charging Stations.csv`

In [2]:
# Estaciones de carga de combustibles elctricos y alternativos
df = pd.read_csv('../Data/Original/Electric and Alternative Fuel Charging Stations.csv')
df.head(5)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [3]:
df.info()
print('Cantidad total de datos:',df.size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    70406 non-null  object
 1   Station Name                      70406 non-null  object
 2   Street Address                    70405 non-null  object
 3   Intersection Directions           4492 non-null   object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Plus4                             0 non-null      float64
 8   Station Phone                     65204 non-null  object
 9   Status Code                       70406 non-null  object
 10  Expected Date                     1218 non-null   object
 11  Groups With Access Code           70406 non-null  object
 12  Access Days Time                  66628 non-null  object
 13  Cards Accepted                    11289 non-null  object
 14  BD Blends                         1217 non-null   object
 15  NG Fill Type Code                 1603 non-null   object
 16  NG PSI                            1597 non-null   object
 17  EV Level1 EVSE Num                286 non-null    float64
 18  EV Level2 EVSE Num                54144 non-null  float64
 19  EV DC Fast Count                  8307 non-null   float64
 20  EV Other Info                     49 non-null     object
 21  EV Network                        60907 non-null  object
 22  EV Network Web                    50305 non-null  object
 23  Geocode Status                    70391 non-null  object
 24  Latitude                          70406 non-null  float64
 25  Longitude                         70406 non-null  float64
 26  Date Last Confirmed               70188 non-null  object
 27  ID                                70406 non-null  int64
 28  Updated At                        70406 non-null  object
 29  Owner Type Code                   30190 non-null  object
 30  Federal Agency ID                 955 non-null    float64
 31  Federal Agency Name               955 non-null    object
 32  Open Date                         69310 non-null  object
 33  Hydrogen Status Link              83 non-null     object
 34  NG Vehicle Class                  1780 non-null   object
 35  LPG Primary                       1867 non-null   object
 36  E85 Blender Pump                  4508 non-null   object
 37  EV Connector Types                60690 non-null  object
 38  Country                           70406 non-null  object
 39  Intersection Directions (French)  188 non-null    object
 40  Access Days Time (French)         6591 non-null   object
 41  BD Blends (French)                2 non-null      object
 42  Groups With Access Code (French)  70406 non-null  object
 43  Hydrogen Is Retail                117 non-null    object
 44  Access Code                       70406 non-null  object
 45  Access Detail Code                7423 non-null   object
 46  Federal Agency Code               955 non-null    object
 47  Facility Type                     27665 non-null  object
 48  CNG Dispenser Num                 1039 non-null   float64
 49  CNG On-Site Renewable Source      716 non-null    object
 50  CNG Total Compression Capacity    708 non-null    float64
 51  CNG Storage Capacity              357 non-null    float64
 52  LNG On-Site Renewable Source      62 non-null     object
 53  E85 Other Ethanol Blends          1458 non-null   object
 54  EV Pricing                        16961 non-null  object
 55  EV Pricing (French)               2032 non-null   object
 56  LPG Nozzle Types                  1826 non-null   object
 57  Hydrogen Pressures                116 non-null    object
 58  Hydrogen Standards                116 non-null    object
 59  CNG Fill Type Code                1603 non-null   object
 60  CNG PSI                           1597 non-null   object
 61  CNG Vehicle Class                 1622 non-null   object
 62  LNG Vehicle Class                 158 non-null    object
 63  EV On-Site Renewable Source       370 non-null    object
 64  Restricted Access                 53435 non-null  object
dtypes: float64(10), int64(1), object(54)
memory usage: 34.9+ MB
Cantidad total de datos: 4576390

In [4]:
def cantidad_nulos(df):
    lista =[]
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    for columna in df.columns:
        nulos = df[columna].isnull().sum()
        
        lista.append({'Columna':columna,
                     'Vacios':nulos})
        
    return  pd.DataFrame(lista)  

def mostrarUnicos(col):
    unicos = df[col].unique()
    print(unicos)

In [5]:
cantidad_nulos(df)

                             Columna  Vacios
0                     Fuel Type Code       0
1                       Station Name       0
2                     Street Address       1
3            Intersection Directions   65914
4                               City       0
5                              State       0
6                                ZIP       1
7                              Plus4   70406
8                      Station Phone    5202
9                        Status Code       0
10                     Expected Date   69188
11           Groups With Access Code       0
12                  Access Days Time    3778
13                    Cards Accepted   59117
14                         BD Blends   69189
15                 NG Fill Type Code   68803
16                            NG PSI   68809
17                EV Level1 EVSE Num   70120
18                EV Level2 EVSE Num   16262
19                  EV DC Fast Count   62099
20                     EV Other Info   70357
21                        EV Network    9499
22                    EV Network Web   20101
23                    Geocode Status      15
24                          Latitude       0
25                         Longitude       0
26               Date Last Confirmed     218
27                                ID       0
28                        Updated At       0
29                   Owner Type Code   40216
30                 Federal Agency ID   69451
31               Federal Agency Name   69451
32                         Open Date    1096
33              Hydrogen Status Link   70323
34                  NG Vehicle Class   68626
35                       LPG Primary   68539
36                  E85 Blender Pump   65898
37                EV Connector Types    9716
38                           Country       0
39  Intersection Directions (French)   70218
40         Access Days Time (French)   63815
41                BD Blends (French)   70404
42  Groups With Access Code (French)       0
43                Hydrogen Is Retail   70289
44                       Access Code       0
45                Access Detail Code   62983
46               Federal Agency Code   69451
47                     Facility Type   42741
48                 CNG Dispenser Num   69367
49      CNG On-Site Renewable Source   69690
50    CNG Total Compression Capacity   69698
51              CNG Storage Capacity   70049
52      LNG On-Site Renewable Source   70344
53          E85 Other Ethanol Blends   68948
54                        EV Pricing   53445
55               EV Pricing (French)   68374
56                  LPG Nozzle Types   68580
57                Hydrogen Pressures   70290
58                Hydrogen Standards   70290
59                CNG Fill Type Code   68803
60                           CNG PSI   68809
61                 CNG Vehicle Class   68784
62                 LNG Vehicle Class   70248
63       EV On-Site Renewable Source   70036
64                 Restricted Access   16971

In [6]:
#NOSE SI DEJARLOS O ELIMINARLOS
mostrarUnicos('Geocode Status')

['200-9' '200-8' 'GPS' '200-6' '200-7' nan '200-5' '200-4']

In [7]:
df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source',
       'Restricted Access'],
      dtype='object')

Creo un nuevo dataframe solamente con las columnas a utilizar.

In [8]:
columnas = ['Fuel Type Code','Station Name','Street Address','City','State','Latitude','Longitude']
electric_fuel_stations= df[columnas].copy()

In [9]:
electric_fuel_stations.head()

,Fuel Type Code,Station Name,Street Address,City,State,Latitude,Longitude
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,Montgomery,AL,32.367916,-86.267021
1,CNG,PS Energy - Atlanta,340 Whitehall St,Atlanta,GA,33.745843,-84.398837
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,Atlanta,GA,33.821911,-84.367461
3,CNG,United Parcel Service,270 Marvin Miller Dr,Atlanta,GA,33.760256,-84.543822
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,Fort Smith,AR,35.362213,-94.375338

In [10]:
unicos = electric_fuel_stations['State'].unique()
unicos

array(['AL', 'GA', 'AR', 'MA', 'NY', 'IN', 'WY', 'CT', 'LA', 'NM', 'KS',
       'ID', 'MO', 'TX', 'UT', 'MN', 'NE', 'CO', 'OR', 'OK', 'PA', 'CA',
       'FL', 'SC', 'NC', 'AZ', 'NV', 'VA', 'MD', 'WA', 'TN', 'SD', 'IA',
       'IL', 'MI', 'ND', 'NJ', 'MS', 'OH', 'MT', 'RI', 'NH', 'WV', 'WI',
       'HI', 'VT', 'AK', 'ME', 'KY', 'DC', 'DE', 'AB', 'QC', 'MB', 'SK',
       'ON', 'BC', 'NL', 'PE', 'NB', 'NS', 'NT', 'YT', 'PR', 'MX'],
      dtype=object)

In [11]:
#Me quedo solamente con la data donde el estado es NEW YORK
electric_fuel_stations = electric_fuel_stations[electric_fuel_stations['State']=='NY']
electric_fuel_stations.shape

(3409, 7)

In [12]:
electric_fuel_stations['City'].unique()

array(['Brooklyn', 'New York', 'Bronx', 'Rye', 'Queens', 'Brentwood',
       'Hicksville', 'Menands', 'Garden City', 'Monticello', 'Buffalo',
       'Riverhead', 'Valley Stream', 'Rochester', 'Oyster Bay', 'Troy',
       'Flushing', 'Niagara Falls', 'Massapequa', 'Schenectady',
       'Irvington', 'Lindenhurst', 'Trumansburg', 'Albany',
       'Bedford Hills', 'Syracuse', 'Newburgh', 'Larchmont', 'West Nyack',
       'Croton-on-Hudson', 'Point Lookout', 'Wyandanch', 'Yaphank',
       'Calverton', 'Congers', 'Water Mill', 'Kings Park', 'Commack',
       'Glenmont', 'Melville', 'Southfields', 'Patchogue',
       'Rockville Centre', 'Rocky Point', 'Bridgehampton', 'Islandia',
       'Eastport', 'Farmingville', 'Bellmore', 'Greenlawn', 'Mt. Sinai',
       'Selden', 'New Hyde Park', 'New Rochelle', 'Westfield',
       'East Northport', 'Fort Edward', 'Geneva', 'Oneonta',
       'Orchard Park', 'Plattsburgh', 'Port Chester', 'St. James',
       'Syosset', 'Vestal', 'Wappingers Falls', 'Webster', 'Westbury',
       'Williamsville', 'Yorktown Heights', 'Amherst', 'Auburn',
       'Bayside', 'Blauvelt', 'Cicero', 'East Rochester', 'Inwood',
       'Ithaca', 'Jamaica', 'Johnstown', 'Hempstead', 'Horseheads',
       'Huntington Station', 'Kingston', 'Lockport', 'New Hampton',
       'Upton', 'Greenvale', 'Castle Creek', 'Lewiston', 'Minoa',
       'Clarence', 'Yonkers', 'Jamestown', 'Ozone Park', 'Penfield',
       'Niskayuna', 'Port Jefferson Station', 'Kerhonkson', 'Salt Point',
       'Fairport', 'Valhalla', 'Southold', 'Watertown', 'Greenpoint',
       'Roslyn', 'Millbrook', 'Kirkwood', 'Centereach', 'West Babylon',
       'Comstock', 'Yorkville', 'Lancaster', 'Watkins Glen',
       'Port Washington', 'Suffern', 'West Henrietta', 'Tonawanda',
       'Elmira', 'Spencerport', 'Williston Park', 'Warwick', 'Burdett',
       'Staten Island', 'Mastic Beach', 'Laurel', 'Jamesport',
       'Cortlandt', 'Tarrytown', 'Chappaqua', 'White Plains',
       'Skaneateles', 'Beacon', 'Stony Brook', 'Rouses Point', 'Freeport',
       'Saratoga Springs', 'North Syracuse', 'Elmira Heights', 'Greece',
       'Irondequoit', 'Binghamton', 'Wading River', 'Liverpool', 'Latham',
       'Ronkonkoma', 'Oakdale', 'Plainview', 'Clifton Park',
       'Slingerlands', 'Canandaigua', 'Clymer', 'Bellport', 'Gates',
       'Cazenovia', 'Maspeth', 'Peconic', 'Churchville', 'Clay',
       'Lake Katrine', 'Hillsdale', 'Jackson Heights', 'Stone Ridge',
       'Livonia', 'East Patchogue', 'Homer', 'Dix Hills', 'North Creek',
       'Rome', 'Cedarhurst', 'Fishkill', 'Baldwin', 'Sodus', 'Brewster',
       'Champlain', 'College Point', 'Cortlandt Manor', 'Fair Haven',
       'Gilboa', 'Hauppauge', 'Manhattan', 'Marcellus', 'Nanuet',
       'Poughkeepsie', 'Lagrangeville', 'Windsor', 'Woodside',
       'Rego Park', 'Grand Island', 'Hamburg', 'Waterville', 'Millport',
       'Clinton Corners', 'Guilderland', 'Painted Post', 'Queensbury',
       'Southampton', 'Utica', 'Victor', 'Waterloo', 'Floral Park',
       'Lima', 'Cherry Valley', 'Danby', 'Amenia', 'Aquebogue', 'Astoria',
       'Avon', 'Branchport', 'Bridgeport', 'Canton', 'Chester',
       'Chestertown', 'Cooperstown', 'Corning', 'Cornwall', 'Cortland',
       'Cutchogue', 'Darien Center', 'Depew', 'Dundee', 'East Aurora',
       'East Elmhurst', 'East Norwich', 'Forest Hills', 'Forestburgh',
       'Gardiner', 'Garrison', 'Ghent', 'Greenport', 'Henrietta',
       'Highland', 'Holmes', 'Hornell', 'Hudson', 'Lake George',
       'Lake Placid', 'Long Island City', 'Malone', 'Middletown',
       'Milton', 'Modena', 'Montauk', 'Montgomery', 'New Paltz',
       'Old Forge', 'Olean', 'Oswego', 'Penn Yan', 'Port Jervis',
       'Potsdam', 'Rhinebeck', 'Sag Harbor', 'Saranac Lake',
       'Shelter Island', 'Tupper Lake', 'Westhampton Beach', 'Whitesboro',
       'Windham', 'Bergen', 'Kinderhook', 'Salamanca', 'Hannacroix',
       'Roscoe', 'Cohoes', 'Ancram', 'Montour Falls', 'Durham',
       'Kew Gardens', 'Hawthorne', 'New York City', 'Bear Mountain',
       'Annandale-on-Hudson', 'Nyack', 'Waddington', 'Accord',
       'Au Sable Forks', 'Cottekill', 'Bohemia', 'Amityville', 'Westport',
       'Waterford', 'Wantaugh', 'Pine Plains', 'Center Moriches',
       'Lyons Falls', 'Boiceville', 'DeKalb Junction', 'Arkville',
       'Pawling', 'Babylon', 'Glendale', 'Jordan', 'Fayetteville',
       'Voorheesville', 'Tivoli', 'Staatsburg', 'Farmingdale', 'Wayland',
       'Pleasantville', 'Bay Shore', 'Castile', 'Houghton', 'Lewis',
       'Elizabethtown', 'Watervliet', 'Uniondale', 'Newark', 'Mamaroneck',
       'Halfmoon', 'Woodstock', 'Oriskany', 'Delmar', 'Clifton Springs',
       'Rye Brook', 'Peekskill', 'Smithtown', 'Claverack-Red Mills',
       'Hampton Bays', 'Niagara University', 'Elmhurst', 'Pittsford',
       'Colonie', 'Setauket- East Setauket', 'Glen Head', 'Northport',
       'Saugerties', 'Averill Park', 'Scottsville', 'Germantown',
       'Ossining', 'Baldwinsville', 'New Hartford', 'Pleasant Valley',
       'East Hampton', 'Washington Heights', 'Speculator',
       'North Tonawanda', 'Malta', 'Rensselaer', 'Tannersville', 'Bolton',
       'New City', 'Keene', 'Keene Valley', 'Verona', 'Glens Falls',
       'Mt. Vernon', 'Cheektowaga', 'Fort Montgomery', 'Catskill',
       'Laurel Hollow', 'Rush', 'Copiague', 'Clifton park', 'Albion',
       'Gowanus', 'Ticonderoga', 'Elma', 'Paul Smiths', 'Long Lake',
       'Coxsackie', 'Clinton', 'North Babylon', 'Newcomb',
       'Sleepy Hollow', 'Glen Falls', 'Union Springs', 'Batavia',
       'Harriman', 'East Syracuse', 'Scotia', 'Hurley', 'Arlington',
       'Pearl River', 'Sparkill', 'Youngstown', 'Glenville',
       'Port Jefferson', 'Perry', 'Waverly', 'Lakewood', 'Celoron',
       'Ellicottville', 'Springville', 'Arcade', 'Hammondsport',
       'Montebello', 'Central Valley', 'Ellenville', 'Valatie',
       'Huntington', 'Red Hook', 'Spencertown', 'Jamesville',
       'Cobleskill', 'Amsterdam', 'Ogdensburg', 'Dunkirk', 'Fort Plain',
       'Chatham', 'Nesconset', 'Highland Falls', 'Callicoon', 'Rock Hill',
       'Hunter', 'Herkimer', 'Slaterville Springs', 'Brockport',
       'Kauneonga Lake', 'Bethel', 'Katonah', 'Bedford', 'Glen Cove',
       'Nichols', 'Geneseo', 'Hamilton', 'Warsaw', 'Goshen', 'Great Neck',
       'Rosendale', 'Deer Park', 'Endicott', 'Spring Valley',
       'Lake Luzerne', 'Amagansett', 'Angola', 'East Greenbush', 'Attica',
       'Frankfort', 'South Wales', 'Farmington', 'LeRoy', 'Hyde Park',
       'Dryden', 'Bronxville', 'Amerst', 'South Nyack', 'Bolton Landing',
       'Glenwood', 'Harrison', 'Massena', 'Lackawanna', 'Fultonville',
       'Mahopac', 'Clayville', 'Roxbury', 'Bloomfield', 'Livingston',
       'Akwesasne', 'Lowville', 'Plattekill', 'Ruby', 'Hartsdale',
       'Monsey', 'Fredonia', 'Lakeville', 'Mt. Morris', 'Phoenix',
       'Cold Spring Harbor', 'Corfu', 'Mount Tremper', 'Old Westbury',
       'Bethpage', 'North Hills', 'Lake Grove', 'Warrensburg', 'Woodbury',
       'Medford', 'Schroon Lake', 'Wilmington', 'Blossvale', 'Delhi',
       'Riverdale', 'Mount Vernon', 'Ballston Spa', 'Midland Beach',
       'CLIFTON PARK', 'Massapequa Park', 'Greenwich', 'Oneida',
       'Montrose', 'The Bronx', 'South Beach', 'Clfton Park', 'Macedon',
       'North Merrick', 'West Bronx', 'Elmsford', 'Canastota', 'Bayberry',
       'Shortsville', 'Corona', 'Dobbs Ferry', 'New Windsor',
       'Pound Ridge', 'LIC', 'Honeoye Falls', 'Medina', 'Chazy',
       'Haverstraw', 'Green Island', 'Wingdale', 'Warners', 'Le Roy',
       'Castleton-on-Hudson', 'Aurora', 'North Chili', 'Ballston',
       'Hastings-on-Hudson', 'Shandaken', 'Willsboro', 'Roslyn Heights',
       'Clyde', 'Ontario', 'Minetto', 'Mechanicville', 'Johnson City',
       'Oxford', 'South Glens Falls', 'Essex', 'Wynantskill', 'Altamont',
       'Middle Village', 'Stillwater', 'LaGrangeville', 'Sherburne',
       'Eldred', 'Camden', 'Schodack', 'Sodus Point', 'Manorville',
       'Scarsdale', 'Oakland Gardens', 'Baldwin Place', 'Somers',
       'Carmel', 'Franklin Square', 'Tuckahoe', 'Saratoga',
       'Dover Plains', 'West Park', 'New Lebanon', 'Carle Place',
       'West Islip', 'Piermont', 'North River', 'Blue Point', 'Ingraham',
       'INGRAHAM', 'West Chazy', 'Bath', 'Ballston Lake', 'Big Flats',
       'Morrisville', 'East Meadow', 'Borough Park', 'Turin', 'Inlet',
       'Bayshore', 'Canaan', 'Lakeview', 'Port Henry', 'Shirley',
       'Mineola', 'Village of Pelham', 'Loudonville', 'Athens',
       'North Bellmore', 'Levittown', 'White Plains,', 'Norwich', 'Marcy',
       'Sunset Park', 'Newport', 'Downsville', 'Mount Kisco', 'Liberty',
       'Orangeburg', 'clifton park', 'Oceanside', 'Little Falls',
       'Whitehall', 'Purchase', 'Warens', 'Hoosick Falls', 'Crown Point',
       'New York Mills', 'Dansville', 'Gloversville', 'Rotterdam',
       'Delanson', 'Manlius', 'Castleton-On-Hudson', 'East Amherst',
       'Loch Sheldrake', 'Fleischmanns', 'Long Island'], dtype=object)

In [13]:
# Me quedo con los 5 districtos principales: en.wikipedia.org/wiki/Boroughs_of_New_York_City
electric_fuel_stations = electric_fuel_stations[electric_fuel_stations['City'].isin(['Brooklyn','Manhattan','Queens','Bronx','Staten Island'])]
electric_fuel_stations.head()

,Fuel Type Code,Station Name,Street Address,City,State,Latitude,Longitude
7,CNG,Clean Energy - Greenpoint - National Grid,287 Maspeth Ave,Brooklyn,NY,40.718037,-73.932309
8,CNG,Canarsie - National Grid,8424 Ditmas Ave,Brooklyn,NY,40.645540,-73.918344
11,CNG,Con Edison - Van Nest Service Center,1615 Bronxdale Ave,Bronx,NY,40.844188,-73.861572
13,CNG,Con Edison - College Point Service Center,124-15 31st Ave,Queens,NY,40.769623,-73.843069
1500,CNG,Bronx Zoo,2300 Southern Blvd,Bronx,NY,40.850018,-73.878128

In [14]:
electric_fuel_stations.rename(columns={'City':'Borough'}, inplace=True)

In [15]:
electric_fuel_stations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 7 to 70288
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fuel Type Code  200 non-null    object
 1   Station Name    200 non-null    object
 2   Street Address  200 non-null    object
 3   Borough         200 non-null    object
 4   State           200 non-null    object
 5   Latitude        200 non-null    float64
 6   Longitude       200 non-null    float64
dtypes: float64(2), object(5)
memory usage: 12.5+ KB

In [16]:
# Elimino la columna State al no ser de utilidad
electric_fuel_stations.drop('State', axis=1, inplace=True)

In [135]:
#Exporto el archivo limpio
electric_fuel_stations.to_parquet('../Data/Normalized/electric_alternative_fuel_stations.parquet', index=False)

***
### **Dataset**: `taxi_zones.dbf`

In [23]:
taxi_zones = DBF('../Data/Original/taxi_zones.dbf')
taxi_zones = pd.DataFrame(taxi_zones)
taxi_zones.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island

In [24]:
taxi_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   Shape_Area  263 non-null    float64
 3   zone        263 non-null    object
 4   LocationID  263 non-null    int64
 5   borough     263 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 12.5+ KB

In [25]:
# Las columnas 'Shape_Area' y 'Shape_Leng' son innecesarias, por lo tanto seran eliminadas
innecesarias=['Shape_Area','Shape_Leng']
taxi_zones.drop(innecesarias, axis=1, inplace=True)

In [26]:
taxi_zones.rename(columns={'zone':'Zone', 
                           'OBJECTID':'ObjectID',
                           'borough':'Borough'}, inplace=True)
taxi_zones.head(10)

   ObjectID                     Zone  LocationID        Borough
0         1           Newark Airport           1            EWR
1         2              Jamaica Bay           2         Queens
2         3  Allerton/Pelham Gardens           3          Bronx
3         4            Alphabet City           4      Manhattan
4         5            Arden Heights           5  Staten Island
5         6  Arrochar/Fort Wadsworth           6  Staten Island
6         7                  Astoria           7         Queens
7         8             Astoria Park           8         Queens
8         9               Auburndale           9         Queens
9        10             Baisley Park          10         Queens

In [27]:
taxi_zones.head(10)

   ObjectID                     Zone  LocationID        Borough
0         1           Newark Airport           1            EWR
1         2              Jamaica Bay           2         Queens
2         3  Allerton/Pelham Gardens           3          Bronx
3         4            Alphabet City           4      Manhattan
4         5            Arden Heights           5  Staten Island
5         6  Arrochar/Fort Wadsworth           6  Staten Island
6         7                  Astoria           7         Queens
7         8             Astoria Park           8         Queens
8         9               Auburndale           9         Queens
9        10             Baisley Park          10         Queens

In [28]:
# Filtrar datos duplicados
zonas = taxi_zones['Zone'].value_counts()
filtro = zonas[zonas > 1]
filtro

Zone
Governor's Island/Ellis Island/Liberty Island    3
Corona                                           2
Name: count, dtype: int64

In [29]:
taxi_zones[(taxi_zones['Zone']== "Governor's Island/Ellis Island/Liberty Island") | (taxi_zones['Zone'] == "Corona")]

,ObjectID,Zone,LocationID,Borough
55,56,Corona,56,Queens
56,57,Corona,56,Queens
102,103,Governor's Island/Ellis Island/Liberty Island,103,Manhattan
103,104,Governor's Island/Ellis Island/Liberty Island,103,Manhattan
104,105,Governor's Island/Ellis Island/Liberty Island,103,Manhattan

In [30]:
#La columna ObjectID no sirve, se elimina
taxi_zones.drop(['ObjectID'],axis=1, inplace=True)

#Se eliminan los duplicados.
taxi_zones.drop_duplicates(inplace=True)
taxi_zones.head()

                      Zone  LocationID        Borough
0           Newark Airport           1            EWR
1              Jamaica Bay           2         Queens
2  Allerton/Pelham Gardens           3          Bronx
3            Alphabet City           4      Manhattan
4            Arden Heights           5  Staten Island

In [134]:
#Exporto en formato parquet
taxi_zones.to_parquet('../Data/Normalized/taxi_zones.parquet', index=False)

***
### **Dataset**: `Alternative Fuel Vehicles US.csv`

In [149]:
df2 = pd.read_csv('../Data/Original/Alternative Fuel Vehicles US.csv')
df2.head()

,Category,Model,Model Year,Manufacturer,Fuel,All-Electric Range,PHEV Total Range,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Transmission Type,Transmission Make,Engine Type,Engine Size,Engine Cylinder Count,Number of Passengers,Heavy-Duty Power System,Notes,Drivetrain
0,Sedan/Wagon,NSX,2022.0,Acura,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,21.0,22.0,21.0,Auto,NaN,SI,3.5L,6.0,NaN,NaN,NaN,AWD
1,Sedan/Wagon,A3,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,29.0,38.0,32.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,FWD
2,Sedan/Wagon,A3 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,28.0,36.0,31.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
3,Sedan/Wagon,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,24.0,30.0,26.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
4,Sedan/Wagon,A4 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,26.0,34.0,29.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD

In [150]:
tamano = df2.shape
print("El DataFrame tiene", tamano[0], "filas y", tamano[1], "columnas.")

El DataFrame tiene 882 filas y 22 columnas.

In [151]:
df2.isnull().sum()

Category                                0
Model                                   0
Model Year                            288
Manufacturer                            0
Fuel                                    0
All-Electric Range                    660
PHEV Total Range                      839
Alternative Fuel Economy City         713
Alternative Fuel Economy Highway      713
Alternative Fuel Economy Combined     620
Conventional Fuel Economy City        438
Conventional Fuel Economy Highway     438
Conventional Fuel Economy Combined    438
Transmission Type                     242
Transmission Make                     757
Engine Type                           293
Engine Size                           293
Engine Cylinder Count                 433
Number of Passengers                  761
Heavy-Duty Power System               637
Notes                                 703
Drivetrain                            553
dtype: int64

Las siguientes columnas contienen gran cantidad de valores nulos y datos innecesarios, por lo tanto se eliminaran: 
`PHEV Total Range`, `All-Electric Range`, `Alternative Fuel Economy Highway`, `Alternative Fuel Economy Combined`, `Transmission Make`, `Engine Type`, `Engine Cylinder Count`, `Number of Passengers`, `Heavy-Duty Power System`, `Notes`, `Drivetrain`, `Engine Size`.

In [152]:
df2 = df2[['Model', 'Model Year', 'Manufacturer', 'Category', 'Fuel', 'Conventional Fuel Economy City', 'Alternative Fuel Economy City']]
df2.head()

,Model,Model Year,Manufacturer,Category,Fuel,Conventional Fuel Economy City,Alternative Fuel Economy City
0,NSX,2022.0,Acura,Sedan/Wagon,Hybrid Electric,21.0,NaN
1,A3,2022.0,Audi,Sedan/Wagon,Hybrid Electric,29.0,NaN
2,A3 quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,28.0,NaN
3,A4 allroad quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,24.0,NaN
4,A4 quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,26.0,NaN

In [153]:
df2['Consumption'] = df2['Alternative Fuel Economy City'].fillna(df2['Conventional Fuel Economy City'])
df2.drop(['Conventional Fuel Economy City', 'Alternative Fuel Economy City'], axis=1, inplace=True)
df2.head()

,Model,Model Year,Manufacturer,Category,Fuel,Consumption
0,NSX,2022.0,Acura,Sedan/Wagon,Hybrid Electric,21.0
1,A3,2022.0,Audi,Sedan/Wagon,Hybrid Electric,29.0
2,A3 quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,28.0
3,A4 allroad quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,24.0
4,A4 quattro,2022.0,Audi,Sedan/Wagon,Hybrid Electric,26.0

In [154]:
#Tipos de vehiculos
df2['Category'].unique()

array(['Sedan/Wagon', 'SUV', 'Pickup', 'Van', 'Passenger Van/Shuttle Bus',
       'Street Sweeper', 'Refuse', 'Vocational/Cab Chassis', 'Tractor',
       'School Bus', 'Transit Bus', 'Step Van',
       'TractorVocational/Cab Chassis', 'Vocational/Cab ChassisVan',
       'Vocational/Cab ChassisTractor'], dtype=object)

El datset contiene muchas categorias de vehiculos que no pertenecen a taxis, por lo tanto, se eliminaran. Las que quedaran son: 'Sedan/Wagon', 'SUV', 'Van'

In [155]:
df2 = df2[df2['Category'].isin(['Sedan/Wagon', 'SUV', 'Van'])]

In [156]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528 entries, 0 to 755
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model         528 non-null    object
 1   Model Year    518 non-null    float64
 2   Manufacturer  528 non-null    object
 3   Category      528 non-null    object
 4   Fuel          528 non-null    object
 5   Consumption   514 non-null    float64
dtypes: float64(2), object(4)
memory usage: 28.9+ KB

In [157]:
#Exporto el dataframe en formato parquet
df2.to_parquet('../Data/Normalized/alternative_fuel_vehicles.parquet', index=False)

***
### **Dataset**: `ElectricCarData_Norm.csv`

In [127]:
ecdn = pd.read_csv('../Data/Original/ElectricCarData_Norm.csv')
ecdn.head()

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [128]:
# Cantidad de nulos por columna
ecdn.isnull().sum()

Brand          0
Model          0
Accel          0
TopSpeed       0
Range          0
Efficiency     0
FastCharge     0
RapidCharge    0
PowerTrain     0
PlugType       0
BodyStyle      0
Segment        0
Seats          0
PriceEuro      0
dtype: int64

In [129]:
# TIpos de datos
ecdn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        103 non-null    object
 1   Model        103 non-null    object
 2   Accel        103 non-null    object
 3   TopSpeed     103 non-null    object
 4   Range        103 non-null    object
 5   Efficiency   103 non-null    object
 6   FastCharge   103 non-null    object
 7   RapidCharge  103 non-null    object
 8   PowerTrain   103 non-null    object
 9   PlugType     103 non-null    object
 10  BodyStyle    103 non-null    object
 11  Segment      103 non-null    object
 12  Seats        103 non-null    int64
 13  PriceEuro    103 non-null    int64
dtypes: int64(2), object(12)
memory usage: 11.4+ KB

Consultamos si tenemos valores duplicados

In [130]:
# Verifica si hay valores duplicados en todo el DataFrame
ecdn.duplicated().sum()

0

Por lo que vemos esta todo en orden las tablas, y vamos a proceder a eliminar las columnas que no vamos a requerir para llevar adelante el proyecto

In [131]:
# Elimina mltiples columnas con informacion innecesaria
ecdn = ecdn[['Brand', 'Model', 'Range', 'Efficiency', 'RapidCharge', 'BodyStyle', 'PriceEuro']]

Observamos la tabla limpia

In [132]:
ecdn.head()

,Brand,Model,Range,Efficiency,RapidCharge,BodyStyle,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,450 km,161 Wh/km,Rapid charging possible,Sedan,55480
1,Volkswagen,ID.3 Pure,270 km,167 Wh/km,Rapid charging possible,Hatchback,30000
2,Polestar,2,400 km,181 Wh/km,Rapid charging possible,Liftback,56440
3,BMW,iX3,360 km,206 Wh/km,Rapid charging possible,SUV,68040
4,Honda,e,170 km,168 Wh/km,Rapid charging possible,Hatchback,32997

In [141]:
ecdn.rename(columns={'RapidCharge': 'Rapid Charge', 'BodyStyle': 'Category', 'PriceEuro': 'Price Euro'}, inplace=True)

In [142]:
ecdn['Category'].unique()

array(['Sedan', 'Hatchback', 'Liftback', 'SUV', 'Pickup', 'MPV', 'Cabrio',
       'SPV', 'Station'], dtype=object)

In [143]:
ecdn = ecdn[ecdn['Category'].isin(['Sedan', 'SUV'])]
ecdn['Category'].unique()

array(['Sedan', 'SUV'], dtype=object)

Guardamos en formato parquet para que sea mas liviano el archivo

In [144]:
ecdn.to_parquet('../Data/Normalized/electric_car_data.parquet', index=False)

***
### **Dataset**: `Light Duty Vehicles.csv`

In [164]:
light = pd.read_csv('../Data/Original/Light Duty Vehicles.csv')
light.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Transmission Type,Engine Type,Engine Size,Engine Cylinder Count,Engine Description,Manufacturer,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,21.0,22.0,21.0,Auto,SI,3.5L,6.0,3.5L V6,Acura,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,29.0,38.0,32.0,Auto,SI,2.0L,4.0,2.0L I4,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,28.0,36.0,31.0,Auto,SI,2.0L,4.0,2.0L I4,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,24.0,30.0,26.0,Auto,SI,2.0L,4.0,2.0L I4,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,26.0,34.0,29.0,Auto,SI,2.0L,4.0,2.0L I4,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD

Vamos a ver cuantos valores nulos tienen nuestras columnas

In [165]:
light.isnull().sum()

Vehicle ID                               0
Fuel ID                                  0
Fuel Configuration ID                   35
Manufacturer ID                          0
Category ID                              0
Model                                    0
Model Year                               0
Alternative Fuel Economy City         1413
Alternative Fuel Economy Highway      1503
Alternative Fuel Economy Combined     2541
Conventional Fuel Economy City         964
Conventional Fuel Economy Highway      962
Conventional Fuel Economy Combined    2245
Transmission Type                       86
Engine Type                            797
Engine Size                            134
Engine Cylinder Count                  565
Engine Description                    1037
Manufacturer                             0
Manufacturer URL                       164
Category                                 0
Fuel Code                                0
Fuel                                     0
Fuel Configuration Name                 35
Electric-Only Range                   2634
PHEV Total Range                      2965
PHEV Type                             2832
Notes                                 2935
Drivetrain                            2679
dtype: int64

In [166]:
light.columns

Index(['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
       'Category ID', 'Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Engine Type', 'Engine Size', 'Engine Cylinder Count',
       'Engine Description', 'Manufacturer', 'Manufacturer URL', 'Category',
       'Fuel Code', 'Fuel', 'Fuel Configuration Name', 'Electric-Only Range',
       'PHEV Total Range', 'PHEV Type', 'Notes', 'Drivetrain'],
      dtype='object')

Vamos a eliminar las columas que no vamos a necesitar

In [167]:
# Eliminamos las columnas que no nos interesan
light = light[['Model', 'Model Year', 'Manufacturer', 'Category', 'Fuel', 'Conventional Fuel Economy City', 'Alternative Fuel Economy City']]
light.head()

,Model,Model Year,Manufacturer,Category,Fuel,Conventional Fuel Economy City,Alternative Fuel Economy City
0,NSX,2022,Acura,Sedan/Wagon,Hybrid Electric,21.0,NaN
1,A3,2022,Audi,Sedan/Wagon,Hybrid Electric,29.0,NaN
2,A3 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,28.0,NaN
3,A4 allroad quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,24.0,NaN
4,A4 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,26.0,NaN

In [168]:
light['Category'].unique()

array(['Sedan/Wagon', 'SUV', 'Pickup', 'Van', 'Passenger Van/Shuttle Bus',
       'Vocational/Cab Chassis'], dtype=object)

In [169]:
light = light[light['Category'].isin(['Sedan/Wagon', 'SUV', 'Van'])]
light['Category'].unique()

array(['Sedan/Wagon', 'SUV', 'Van'], dtype=object)

In [171]:
light['Consumption'] = light['Alternative Fuel Economy City'].fillna(light['Conventional Fuel Economy City'])
light.drop(['Conventional Fuel Economy City', 'Alternative Fuel Economy City'], axis=1, inplace=True)
light.head()

,Model,Model Year,Manufacturer,Category,Fuel,Consumption
0,NSX,2022,Acura,Sedan/Wagon,Hybrid Electric,21.0
1,A3,2022,Audi,Sedan/Wagon,Hybrid Electric,29.0
2,A3 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,28.0
3,A4 allroad quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,24.0
4,A4 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric,26.0

Guardamos en formato parquet

In [172]:
light.to_parquet('../Data/Normalized/light_duty_vehicle.parquet', index=False)

***
### **Dataset**: `Vehicle Fuel Economy Data.csv`

In [216]:
vfed = pd.read_csv('../Data/Original/Vehicle Fuel Economy Data.csv')
vfed.head()

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,VClass,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,0.0,0.0,0.0,519.0,-1.0,0.0,519.0,17.0,17.0,0.0,0.0,0.0,0.0,0.0,8.0,4.4,Rear-Wheel Drive,660.0,SIDI,3.0,3850.0,0.0,Premium,Premium Gasoline,3.0,-1.0,22.0,21.0,0.0,0.0,Subcompact Cars,0.0,0.0,0.0,0.0,0.0,37330.0,13.0,0.0,N,False,87.0,0.0,0.0,0.0,0.0,0.0,0.0,Manual 6-spd,17.9989,0.0,30.0000,0.0,-9750.0,G,NaN,T,NaN,NaN,NaN,NaN,NaN,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,0.0,0.0,0.0,374.0,-1.0,0.0,374.0,24.0,23.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,371.0,SIDI,5.0,2700.0,0.0,Premium,Premium Gasoline,5.0,-1.0,28.0,27.0,0.0,0.0,Small Sport Utility Vehicle 2WD,0.0,0.0,0.0,0.0,0.0,37343.0,0.0,0.0,N,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Automatic (S8),26.7866,0.0,39.2499,0.0,-4000.0,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,0.0,0.0,0.0,402.0,-1.0,0.0,402.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,Rear-Wheel Drive,133.0,SIDI,5.0,2950.0,0.0,Premium,Premium Gasoline,5.0,-1.0,26.0,26.0,0.0,0.0,Midsize Cars,0.0,0.0,0.0,0.0,0.0,37348.0,0.0,14.0,N,False,0.0,100.0,0.0,0.0,0.0,0.0,0.0,Automatic (S7),25.1000,0.0,37.3000,0.0,-5250.0,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,0.0,0.0,0.0,327.0,-1.0,0.0,327.0,27.0,27.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,Front-Wheel Drive,82.0,SIDI,6.0,2400.0,0.0,Premium,Premium Gasoline,6.0,-1.0,32.0,32.0,0.0,0.0,Minicompact Cars,0.0,0.0,0.0,0.0,0.0,37352.0,5.0,0.0,N,False,76.0,0.0,0.0,0.0,0.0,0.0,0.0,Automatic (S6),30.8534,0.0,46.2000,0.0,-2500.0,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,0.0,0.0,0.0,433.0,-1.0,0.0,433.0,21.0,20.0,0.0,0.0,0.0,0.0,0.0,6.0,3.3,Front-Wheel Drive,8.0,SIDI,4.0,2550.0,0.0,Regular,Regular Gasoline,4.0,-1.0,25.0,24.0,0.0,0.0,Minivan - 2WD,0.0,0.0,0.0,0.0,0.0,37355.0,0.0,0.0,N,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Automatic (S6),22.8000,0.0,34.7000,0.0,-3250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0

In [217]:
df = pd.DataFrame(vfed.isnull().sum())
df

                     0
Year                 0
Manufacturer         0
Model               10
barrels08           17
barrelsA08          17
charge240           17
city08              17
city08U             17
cityA08             17
cityA08U            17
cityCD              17
cityE               17
cityUF              17
co2                 17
co2A                17
co2TailpipeAGpm     17
co2TailpipeGpm      17
comb08              17
comb08U             17
combA08             17
combA08U            17
combE               17
combinedCD          17
combinedUF          17
cylinders          523
displ              521
drive             1203
engId               17
eng_dscr         17094
feScore           1233
fuelCost08        1233
fuelCostA08       1233
fuelType          1233
fuelType1         1233
ghgScore          1233
ghgScoreA         1233
highway08         1233
highway08U        1233
highwayA08        1233
highwayA08U       1233
VClass            1233
highwayCD         1994
highwayE          1994
highwayUF         1994
hlv               1994
hpv               1994
id                1994
lv2               1994
lv4               1994
mpgData           2007
phevBlended       1994
pv2               1994
pv4               1994
range             1994
rangeCity         1994
rangeCityA        1994
rangeHwy          1994
rangeHwyA         1994
trany             2005
UCity             1994
UCityA            1994
UHighway          1994
UHighwayA         1994
youSaveSpend      1994
guzzler          43551
trans_dscr       31795
tCharger         37655
sCharger         45199
atvType          41800
fuelType2        44539
rangeA           44544
evMotor          44312
mfrCode          30986
c240Dscr         46053
charge240b        2016
c240bDscr        46059
createdOn         2016
modifiedOn        2016
startStop        31829
phevCity          2016
phevHwy           2016
phevComb          2016

In [218]:
vfed.columns

Index(['Year', 'Manufacturer', 'Model', 'barrels08', 'barrelsA08', 'charge240',
       'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [219]:
print('Columna fuelType:', vfed['fuelType'].unique())
print('Columna fuelType1:', vfed['fuelType1'].unique())
print('Columna fuelType2:', vfed['fuelType2'].unique())

Columna fuelType: ['Premium' 'Regular' 'Diesel' 'Electricity' 'Gasoline or E85' 'Midgrade'
 'Premium and Electricity' 'Premium or E85' nan
 'Regular Gas and Electricity' 'Regular Gas or Electricity'
 'Premium Gas or Electricity' 'CNG' 'Gasoline or natural gas'
 'Gasoline or propane']
Columna fuelType1: ['Premium Gasoline' 'Regular Gasoline' 'Diesel' 'Electricity'
 'Midgrade Gasoline' nan 'Natural Gas']
Columna fuelType2: [nan 'E85' 'Electricity' 'Natural Gas' 'Propane']

Se utilizaran las columnas `fuelType1` y `fuelType2` para editar sus valores.

Eliminamos columnas inecesarias para nuestros objetivos

In [220]:
vfed = vfed[['Model', 'Year', 'Manufacturer', 'VClass', 'fuelType1', 'fuelType2', 'city08' , 'co2']]
vfed.head()

,Model,Year,Manufacturer,VClass,fuelType1,fuelType2,city08,co2
0,M6 Coupe,2017,BMW,Subcompact Cars,Premium Gasoline,NaN,15.0,519.0
1,X3 sDrive28i,2017,BMW,Small Sport Utility Vehicle 2WD,Premium Gasoline,NaN,21.0,374.0
2,Q50S Red Sport,2016,Infiniti,Midsize Cars,Premium Gasoline,NaN,20.0,402.0
3,John Cooper Works Convertible,2017,MINI,Minicompact Cars,Premium Gasoline,NaN,24.0,327.0
4,Sedona SX,2017,Kia,Minivan - 2WD,Regular Gasoline,NaN,18.0,433.0

In [221]:
vfed.rename(columns={'VClass': 'Category', 'fuelType1': 'Fuel', 'fuelType2': 'Alternative Fuel', 'city08': 'Consumption (mpg)', 'co2': 'CO2 (g/mile)'}, inplace=True)
vfed.head()

,Model,Year,Manufacturer,Category,Fuel,Alternative Fuel,Consumption (mpg),CO2 (g/mile)
0,M6 Coupe,2017,BMW,Subcompact Cars,Premium Gasoline,NaN,15.0,519.0
1,X3 sDrive28i,2017,BMW,Small Sport Utility Vehicle 2WD,Premium Gasoline,NaN,21.0,374.0
2,Q50S Red Sport,2016,Infiniti,Midsize Cars,Premium Gasoline,NaN,20.0,402.0
3,John Cooper Works Convertible,2017,MINI,Minicompact Cars,Premium Gasoline,NaN,24.0,327.0
4,Sedona SX,2017,Kia,Minivan - 2WD,Regular Gasoline,NaN,18.0,433.0

In [222]:
vfed['Fuel'] = vfed['Fuel'].fillna('No')
vfed.loc[vfed['Fuel'].str.contains('Gasoline', case=False), 'Fuel'] = 'Gasoline'
vfed.loc[vfed['Fuel'] == 'Electricity', 'Fuel'] = 'Electric'
vfed.loc[vfed['Alternative Fuel'] == 'Electricity', 'Fuel'] = 'Electric'

In [223]:
vfed['Fuel'].unique()

array(['Gasoline', 'Diesel', 'Electric', 'No', 'Natural Gas'],
      dtype=object)

In [224]:
vfed = vfed[vfed['Year'] >= 2019]

In [229]:
print('Duplicados: ', vfed.duplicated().sum())
print('Nulos:\n', vfed.isnull().sum())

Duplicados:  47
Nulos:
 Model                   0
Year                    0
Manufacturer            0
Category                6
Fuel                    0
Alternative Fuel     6287
Consumption (mpg)       6
CO2 (g/mile)            6
dtype: int64

In [230]:
# Eliminar todas las filas duplicadas basadas en todas las columnas
vfed = vfed.drop_duplicates()

In [231]:
vfed['Category'].unique()

array(['Small Sport Utility Vehicle 4WD',
       'Small Sport Utility Vehicle 2WD', 'Compact Cars',
       'Small Pickup Trucks 2WD', 'Standard Pickup Trucks 4WD',
       'Two Seaters', 'Minicompact Cars', 'Subcompact Cars',
       'Midsize Cars', 'Large Cars', 'Standard Sport Utility Vehicle 4WD',
       'Small Station Wagons', 'Special Purpose Vehicle 4WD',
       'Special Purpose Vehicle 2WD', 'Midsize Station Wagons',
       'Standard Sport Utility Vehicle 2WD', 'Standard Pickup Trucks 2WD',
       'Minivan - 2WD', 'Small Pickup Trucks 4WD', nan, 'Vans',
       'Minivan - 4WD'], dtype=object)

In [232]:
vfed = vfed[vfed['Category'].isin(['Small Sport Utility Vehicle 4WD', 'Small Sport Utility Vehicle 2WD', 
                                    'Compact Cars', 'Midsize Cars', 'Large Cars', 'Standard Sport Utility Vehicle 4WD',
                                    'Standard Sport Utility Vehicle 2WD', 'Minivan - 2WD', 'Vans', 'Minivan - 4WD'])]
vfed['Category'].unique()

array(['Small Sport Utility Vehicle 4WD',
       'Small Sport Utility Vehicle 2WD', 'Compact Cars', 'Midsize Cars',
       'Large Cars', 'Standard Sport Utility Vehicle 4WD',
       'Standard Sport Utility Vehicle 2WD', 'Minivan - 2WD', 'Vans',
       'Minivan - 4WD'], dtype=object)

Guardamos en formato parquet

In [233]:
vfed.to_parquet('../Data/Normalized/vehicle_fuel_economy_data.parquet', index=False)