Importamos las librerias a utilizar

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Abrimos los 12 meses de los taxis green

In [38]:
green01 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-01.parquet')
green02 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-02.parquet')
green03 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-03.parquet')
green04 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-04.parquet')
green05 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-05.parquet')
green06 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-06.parquet')
green07 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-07.parquet')
green08 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-08.parquet')
green09 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-09.parquet')
green10 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-10.parquet')
green11 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-11.parquet')
green12 = pd.read_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/TLC_scraping/green_tripdata_2023-12.parquet')

Juntamos todos los archivos

In [39]:
taxisgreen = [green01, green02, green03, green04, green05, green06, green07, green08, green09, green10, green11, green12]

Creamos un dataframe donde van a tener todos los valores

In [40]:
greentotal = pd.concat(taxisgreen, ignore_index=True)

Observamos la tabla completa

In [41]:
greentotal.head(4)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,N,1.0,166,143,1.0,2.58,14.9,1.0,0.5,4.03,0.0,None,1.0,24.18,1.0,1.0,2.75
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,N,1.0,24,43,1.0,1.81,10.7,1.0,0.5,2.64,0.0,None,1.0,15.84,1.0,1.0,0.00
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,N,1.0,223,179,1.0,0.00,7.2,1.0,0.5,1.94,0.0,None,1.0,11.64,1.0,1.0,0.00
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,N,1.0,41,238,1.0,1.30,6.5,0.5,1.5,1.70,0.0,None,1.0,10.20,1.0,1.0,0.00

Vamos a eliminar columnas que no vamos a utilizar

In [42]:
columnsaeliminar= ['store_and_fwd_flag', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
                   'tolls_amount', 'ehail_fee', 'improvement_surcharge', 'payment_type',
                   'trip_type', 'congestion_surcharge', 'RatecodeID', 'VendorID']

greenlimpio = greentotal.drop(columns=columnsaeliminar)
print("Columnas restantes en el DataFrame:")
print(greenlimpio.columns)

Columnas restantes en el DataFrame:
Index(['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID',
       'DOLocationID', 'passenger_count', 'trip_distance', 'total_amount'],
      dtype='object')

Vamos a ver los tipos de datos de la tabla completo y tambien si tiene nullo y valores duplicados

In [43]:
greenlimpio.head(4)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,total_amount
0,2023-01-01 00:26:10,2023-01-01 00:37:11,166,143,1.0,2.58,24.18
1,2023-01-01 00:51:03,2023-01-01 00:57:49,24,43,1.0,1.81,15.84
2,2023-01-01 00:35:12,2023-01-01 00:41:32,223,179,1.0,0.00,11.64
3,2023-01-01 00:13:14,2023-01-01 00:19:03,41,238,1.0,1.30,10.20

In [44]:
greenlimpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787060 entries, 0 to 787059
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   lpep_pickup_datetime   787060 non-null  datetime64[us]
 1   lpep_dropoff_datetime  787060 non-null  datetime64[us]
 2   PULocationID           787060 non-null  int64
 3   DOLocationID           787060 non-null  int64
 4   passenger_count        731447 non-null  float64
 5   trip_distance          787060 non-null  float64
 6   total_amount           787060 non-null  float64
dtypes: datetime64[us](2), float64(3), int64(2)
memory usage: 42.0 MB

In [45]:
# Consultar filas duplicadas
duplicated_rows = greenlimpio[greenlimpio.duplicated()]

# Verificar la cantidad de filas duplicadas
num_duplicated_rows = duplicated_rows.shape[0]

print(f"Hay {num_duplicated_rows} filas duplicadas en el DataFrame.")

# Mostrar las filas duplicadas (opcional)
if num_duplicated_rows > 0:
    print("Filas duplicadas:")
    print(duplicated_rows)

Hay 0 filas duplicadas en el DataFrame.

In [46]:
# Verificar valores nulos
null_values = greenlimpio.isnull().sum()

# Mostrar columnas con valores nulos
null_columns = null_values[null_values > 0]
print("Columnas con valores nulos:")
print(null_columns)

Columnas con valores nulos:
passenger_count    55613
dtype: int64

In [47]:
greenlimpio.head(2)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,total_amount
0,2023-01-01 00:26:10,2023-01-01 00:37:11,166,143,1.0,2.58,24.18
1,2023-01-01 00:51:03,2023-01-01 00:57:49,24,43,1.0,1.81,15.84

In [48]:
# Eliminar las filas con valores nulos
greensinnulos = greenlimpio.dropna()

# Verificar si hay valores nulos restantes
null_values_after_dropping = greensinnulos.isnull().sum().sum()
print(f"Hay {null_values_after_dropping} valores nulos después de eliminar las filas con valores nulos.")

Hay 0 valores nulos después de eliminar las filas con valores nulos.

In [49]:
greenfinal = greensinnulos[greensinnulos['passenger_count'] != 0]

In [50]:
greenfinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 725304 entries, 0 to 782147
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   lpep_pickup_datetime   725304 non-null  datetime64[us]
 1   lpep_dropoff_datetime  725304 non-null  datetime64[us]
 2   PULocationID           725304 non-null  int64
 3   DOLocationID           725304 non-null  int64
 4   passenger_count        725304 non-null  float64
 5   trip_distance          725304 non-null  float64
 6   total_amount           725304 non-null  float64
dtypes: datetime64[us](2), float64(3), int64(2)
memory usage: 44.3 MB

In [51]:
greenfinal["Servicio"] = 'Green'

C:\Users\lautaro\AppData\Local\Temp\ipykernel_30088\1683459121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  greenfinal["Servicio"] = 'Green'

In [52]:
greenfinal.head(2)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,total_amount,Servicio
0,2023-01-01 00:26:10,2023-01-01 00:37:11,166,143,1.0,2.58,24.18,Green
1,2023-01-01 00:51:03,2023-01-01 00:57:49,24,43,1.0,1.81,15.84,Green

In [53]:
def obtener_distrito(locationId):
    # Diccionario con ID de distritos
    zonas = {
        'Manhattan': [4,  12,  13,  24,  41,  42,  43,  45,  48,  50,  68,  74,  75,
                      79,  87,  88,  90, 100, 103, 107, 113, 114, 116, 120, 125, 127,
                      128, 137, 140, 141, 142, 143, 144, 148, 151, 152, 153, 158, 161,
                      162, 163, 164, 166, 170, 186, 194, 202, 209, 211, 224, 229, 230,
                      231, 232, 233, 234, 236, 237, 238, 239, 243, 244, 246, 249, 261,
                      262, 263],

        'Brooklyn': [11,  14,  17,  21,  22,  25,  26,  29,  33,  34,  35,  36,  37,
                     39,  40,  49,  52,  54,  55,  61,  62,  63,  65,  66,  67,  71,
                     72,  76,  77,  80,  85,  89,  91,  97, 106, 108, 111, 112, 123,
                     133, 149, 150, 154, 155, 165, 177, 178, 181, 188, 189, 190, 195,
                     210, 217, 222, 225, 227, 228, 255, 256, 257],

        'Queens': [2,   7,   8,   9,  10,  15,  16,  19,  27,  28,  30,  38,  53,
                   56,  64,  70,  73,  82,  83,  86,  92,  93,  95,  96,  98, 101,
                   102, 117, 121, 122, 124, 129, 130, 131, 132, 134, 135, 138, 139,
                   145, 146, 157, 160, 171, 173, 175, 179, 180, 191, 192, 193, 196,
                   197, 198, 201, 203, 205, 207, 215, 216, 218, 219, 223, 226, 252,
                   253, 258, 260],

        'Staten Island': [5,   6,  23,  44,  84,  99, 109, 110, 115, 118, 156, 172, 176,
                          187, 204, 206, 214, 221, 245, 251],

        'EWR':[1]
    }
    #    Clave  valor
    for distrito, ids in zonas.items():
        if locationId in ids: #Si el ID pasado como argumento esta en la lista
            return distrito   # retorna la clave del diccionario (distrito)

    return 'SD'

In [54]:
greenfinal['Pickup_borough'] = greenfinal ['PULocationID'].apply(obtener_distrito)

C:\Users\lautaro\AppData\Local\Temp\ipykernel_30088\3435044231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  greenfinal['Pickup_borough'] = greenfinal ['PULocationID'].apply(obtener_distrito)

In [55]:
greenfinal.head(2)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,total_amount,Servicio,Pickup_borough
0,2023-01-01 00:26:10,2023-01-01 00:37:11,166,143,1.0,2.58,24.18,Green,Manhattan
1,2023-01-01 00:51:03,2023-01-01 00:57:49,24,43,1.0,1.81,15.84,Green,Manhattan

In [56]:
columnsaeliminar2= ['DOLocationID', 'PULocationID']

greenfinal = greenfinal.drop(columns=columnsaeliminar2)
print("Columnas restantes en el DataFrame:")
print(greenfinal.columns)

Columnas restantes en el DataFrame:
Index(['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'passenger_count',
       'trip_distance', 'total_amount', 'Servicio', 'Pickup_borough'],
      dtype='object')

In [57]:
greenfinal.head(2)

,lpep_pickup_datetime,lpep_dropoff_datetime,passenger_count,trip_distance,total_amount,Servicio,Pickup_borough
0,2023-01-01 00:26:10,2023-01-01 00:37:11,1.0,2.58,24.18,Green,Manhattan
1,2023-01-01 00:51:03,2023-01-01 00:57:49,1.0,1.81,15.84,Green,Manhattan

In [58]:
green = greenfinal[greenfinal['Pickup_borough'] != 'SD']

In [59]:
# Usar rename para cambiar los nombres de columnas específicas
green = green.rename(columns={
    'lpep_pickup_datetime': 'tpep_pickup_datetime',
    'lpep_dropoff_datetime': 'tpep_dropoff_datetime'
})

# Verificar el resultado
green.head(4)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,Servicio,Pickup_borough
0,2023-01-01 00:26:10,2023-01-01 00:37:11,1.0,2.58,24.18,Green,Manhattan
1,2023-01-01 00:51:03,2023-01-01 00:57:49,1.0,1.81,15.84,Green,Manhattan
2,2023-01-01 00:35:12,2023-01-01 00:41:32,1.0,0.00,11.64,Green,Queens
3,2023-01-01 00:13:14,2023-01-01 00:19:03,1.0,1.30,10.20,Green,Manhattan

In [60]:
green

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,Servicio,Pickup_borough
0,2023-01-01 00:26:10,2023-01-01 00:37:11,1.0,2.58,24.18,Green,Manhattan
1,2023-01-01 00:51:03,2023-01-01 00:57:49,1.0,1.81,15.84,Green,Manhattan
2,2023-01-01 00:35:12,2023-01-01 00:41:32,1.0,0.00,11.64,Green,Queens
3,2023-01-01 00:13:14,2023-01-01 00:19:03,1.0,1.30,10.20,Green,Manhattan
4,2023-01-01 00:33:04,2023-01-01 00:39:02,1.0,1.10,8.00,Green,Manhattan
...,...,...,...,...,...,...,...
782142,2023-12-31 22:59:52,2023-12-31 23:12:14,1.0,2.74,18.90,Green,Manhattan
782144,2023-12-31 23:05:16,2023-12-31 23:33:32,1.0,14.44,86.36,Green,Queens
782145,2023-12-31 23:33:08,2023-12-31 23:47:07,1.0,3.18,20.20,Green,Queens
782146,2023-12-31 23:51:30,2023-12-31 23:53:56,1.0,1.02,9.00,Green,Manhattan
782147,2023-12-31 23:54:37,2023-12-31 23:56:14,1.0,0.27,6.90,Green,Manhattan

GUARDAMOS EN FORMATO PARQUET

In [62]:
green.to_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/Normalized/taxis_green.parquet', index=False)