In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
taxi2023 = pd.read_parquet('NYC_TAXIS-CO2/Data/Normalized/taxis_2023.parquet')
taxi2023

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,Servicio,Pickup_borough
0,2023-01-01 00:26:10,2023-01-01 00:37:11,1.0,2.58,24.18,Green,Manhattan
1,2023-01-01 00:51:03,2023-01-01 00:57:49,1.0,1.81,15.84,Green,Manhattan
2,2023-01-01 00:35:12,2023-01-01 00:41:32,1.0,0.00,11.64,Green,Queens
3,2023-01-01 00:13:14,2023-01-01 00:19:03,1.0,1.30,10.20,Green,Manhattan
4,2023-01-01 00:33:04,2023-01-01 00:39:02,1.0,1.10,8.00,Green,Manhattan
...,...,...,...,...,...,...,...
1846358,2023-12-21 21:44:02,2023-12-21 21:57:59,3.0,2.36,24.72,Yellow,Manhattan
1846359,2023-12-13 21:40:15,2023-12-13 21:42:47,1.0,0.60,10.90,Yellow,Manhattan
1846360,2023-12-12 18:09:08,2023-12-12 18:33:53,1.0,3.50,36.60,Yellow,Manhattan
1846361,2023-12-14 17:33:01,2023-12-14 17:48:33,2.0,1.12,20.00,Yellow,Manhattan
1846362,2023-12-20 20:10:27,2023-12-20 20:16:18,2.0,0.88,12.90,Yellow,Manhattan

In [6]:
# Consultar si hay valores nulos en el DataFrame
hay_nulos = taxi2023.isnull().any().any()

if hay_nulos:
    print("Sí, hay valores nulos en el DataFrame.")
else:
    print("No hay valores nulos en el DataFrame.")

Sí, hay valores nulos en el DataFrame.

In [10]:
valores_unicos = taxi2023['Servicio'].unique()

print("Valores únicos en la columna 'Servicio':", valores_unicos)

Valores únicos en la columna 'Servicio': ['Green' 'Yellow']

In [11]:
valores_unicos = taxi2023['passenger_count'].unique()

print("Valores únicos en la columna 'passenger_count':", valores_unicos)

Valores únicos en la columna 'passenger_count': [ 1.  2.  4.  3.  6.  5.  7.  8.  9. nan  0.]

In [14]:
df_sin_nulos = taxi2023.dropna()

print("DataFrame sin valores nulos:\n", df_sin_nulos)

DataFrame sin valores nulos:
         tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0        2023-01-01 00:26:10   2023-01-01 00:37:11              1.0
1        2023-01-01 00:51:03   2023-01-01 00:57:49              1.0
2        2023-01-01 00:35:12   2023-01-01 00:41:32              1.0
3        2023-01-01 00:13:14   2023-01-01 00:19:03              1.0
4        2023-01-01 00:33:04   2023-01-01 00:39:02              1.0
...                      ...                   ...              ...
1846358  2023-12-21 21:44:02   2023-12-21 21:57:59              3.0
1846359  2023-12-13 21:40:15   2023-12-13 21:42:47              1.0
1846360  2023-12-12 18:09:08   2023-12-12 18:33:53              1.0
1846361  2023-12-14 17:33:01   2023-12-14 17:48:33              2.0
1846362  2023-12-20 20:10:27   2023-12-20 20:16:18              2.0

         trip_distance  total_amount Servicio Pickup_borough
0                 2.58         24.18    Green      Manhattan
1                 1.81         15.84    Green      Manhattan
2                 0.00         11.64    Green         Queens
3                 1.30         10.20    Green      Manhattan
4                 1.10          8.00    Green      Manhattan
...                ...           ...      ...            ...
1846358           2.36         24.72   Yellow      Manhattan
1846359           0.60         10.90   Yellow      Manhattan
1846360           3.50         36.60   Yellow      Manhattan
1846361           1.12         20.00   Yellow      Manhattan
1846362           0.88         12.90   Yellow      Manhattan

[1807458 rows x 7 columns]

In [16]:
df_filtrado = df_sin_nulos[df_sin_nulos['passenger_count'] != 0.0]

print(df_filtrado)

        tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0        2023-01-01 00:26:10   2023-01-01 00:37:11              1.0
1        2023-01-01 00:51:03   2023-01-01 00:57:49              1.0
2        2023-01-01 00:35:12   2023-01-01 00:41:32              1.0
3        2023-01-01 00:13:14   2023-01-01 00:19:03              1.0
4        2023-01-01 00:33:04   2023-01-01 00:39:02              1.0
...                      ...                   ...              ...
1846358  2023-12-21 21:44:02   2023-12-21 21:57:59              3.0
1846359  2023-12-13 21:40:15   2023-12-13 21:42:47              1.0
1846360  2023-12-12 18:09:08   2023-12-12 18:33:53              1.0
1846361  2023-12-14 17:33:01   2023-12-14 17:48:33              2.0
1846362  2023-12-20 20:10:27   2023-12-20 20:16:18              2.0

         trip_distance  total_amount Servicio Pickup_borough
0                 2.58         24.18    Green      Manhattan
1                 1.81         15.84    Green      Manhattan
2                 0.00         11.64    Green         Queens
3                 1.30         10.20    Green      Manhattan
4                 1.10          8.00    Green      Manhattan
...                ...           ...      ...            ...
1846358           2.36         24.72   Yellow      Manhattan
1846359           0.60         10.90   Yellow      Manhattan
1846360           3.50         36.60   Yellow      Manhattan
1846361           1.12         20.00   Yellow      Manhattan
1846362           0.88         12.90   Yellow      Manhattan

[1790351 rows x 7 columns]

In [17]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1790351 entries, 0 to 1846362
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[us]
 1   tpep_dropoff_datetime  datetime64[us]
 2   passenger_count        float64
 3   trip_distance          float64
 4   total_amount           float64
 5   Servicio               object
 6   Pickup_borough         object
dtypes: datetime64[us](2), float64(3), object(2)
memory usage: 109.3+ MB