Importamos las librerias

In [9]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Abrimos el archivo

In [10]:
ruta_archivo = 'NYC_TAXIS-CO2\Data\Original\Light Duty Vehicles.csv'
Light = pd.read_csv(ruta_archivo)
Light.head(2)

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD

Vamos a ver cuantos valores nulos tienen nuestras columnas

In [11]:
Light.isnull().sum()

Vehicle ID                               0
Fuel ID                                  0
Fuel Configuration ID                   35
Manufacturer ID                          0
Category ID                              0
Model                                    0
Model Year                               0
Alternative Fuel Economy City         1413
Alternative Fuel Economy Highway      1503
Alternative Fuel Economy Combined     2541
Conventional Fuel Economy City         964
Conventional Fuel Economy Highway      962
Conventional Fuel Economy Combined    2245
Transmission Type                       86
Engine Type                            797
Engine Size                            134
Engine Cylinder Count                  565
Engine Description                    1037
Manufacturer                             0
Manufacturer URL                       164
Category                                 0
Fuel Code                                0
Fuel                                     0
Fuel Configuration Name                 35
Electric-Only Range                   2634
PHEV Total Range                      2965
PHEV Type                             2832
Notes                                 2935
Drivetrain                            2679
dtype: int64

In [12]:
Light.columns

Index(['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
       'Category ID', 'Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Engine Type', 'Engine Size', 'Engine Cylinder Count',
       'Engine Description', 'Manufacturer', 'Manufacturer URL', 'Category',
       'Fuel Code', 'Fuel', 'Fuel Configuration Name', 'Electric-Only Range',
       'PHEV Total Range', 'PHEV Type', 'Notes', 'Drivetrain'],
      dtype='object')

Vamos a eliminar las columas que no vamos a necesitar

In [13]:
# Eliminamos las columnas que no nos interesan
eliminar = ['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
            'Category ID', 'Alternative Fuel Economy City',
            'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
            'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
            'Conventional Fuel Economy Combined', 'Transmission Type',
            'Engine Type', 'Engine Size', 'Engine Cylinder Count',
            'Engine Description', 'Manufacturer URL',
            'Fuel Code', 'Fuel Configuration Name', 'Electric-Only Range',
            'PHEV Total Range', 'PHEV Type', 'Notes', 'Drivetrain']

Light.drop(eliminar, axis=1, inplace=True)
Light.head(2)

  Model  Model Year Manufacturer     Category             Fuel
0   NSX        2022        Acura  Sedan/Wagon  Hybrid Electric
1   A3         2022         Audi  Sedan/Wagon  Hybrid Electric

In [14]:
light_duty= Light.copy()
light_duty.rename(columns={'Model Year':'Year'}, inplace=True)
light_duty

,Model,Year,Manufacturer,Category,Fuel
0,NSX,2022,Acura,Sedan/Wagon,Hybrid Electric
1,A3,2022,Audi,Sedan/Wagon,Hybrid Electric
2,A3 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric
3,A4 allroad quattro,2022,Audi,Sedan/Wagon,Hybrid Electric
4,A4 quattro,2022,Audi,Sedan/Wagon,Hybrid Electric
...,...,...,...,...,...
3003,Ram Van B250,1992,Dodge,Van,CNG - Compressed Natural Gas
3004,Spirit FFV,1992,Dodge,Sedan/Wagon,Methanol
3005,Econoline-Fleet Demo FFV,1992,Ford,Van,Methanol
3006,Lumina FFV,1991,Chevrolet,Sedan/Wagon,Methanol
3007,Taurus FFV,1991,Ford,Sedan/Wagon,Methanol

Guardamos en foramto parquet

In [15]:
light_duty.to_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/Normalized/light_duty_limpio.parquet', index=False)