Importamos las librerias

In [77]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Abrimos el archivo

In [78]:
ruta_archivo = 'D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/Original/Vehicle Fuel Economy Data.csv'
VFED = pd.read_csv(ruta_archivo)
VFED.head(2)

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0

Vamos a ver los tipos de datos

In [79]:
VFED.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46186 entries, 0 to 46185
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             46186 non-null  int64
 1   Manufacturer     46186 non-null  object
 2   Model            46176 non-null  object
 3   barrels08        46169 non-null  float64
 4   barrelsA08       46169 non-null  float64
 5   charge240        46169 non-null  float64
 6   city08           46169 non-null  float64
 7   city08U          46169 non-null  float64
 8   cityA08          46169 non-null  float64
 9   cityA08U         46169 non-null  float64
 10  cityCD           46169 non-null  float64
 11  cityE            46169 non-null  float64
 12  cityUF           46169 non-null  float64
 13  co2              46169 non-null  float64
 14  co2A             46169 non-null  float64
 15  co2TailpipeAGpm  46169 non-null  float64
 16  co2TailpipeGpm   46169 non-null  float64
 17  comb08           46169 non-null  float64
 18  comb08U          46169 non-null  float64
 19  combA08          46169 non-null  float64
 20  combA08U         46169 non-null  float64
 21  combE            46169 non-null  float64
 22  combinedCD       46169 non-null  float64
 23  combinedUF       46169 non-null  float64
 24  cylinders        45663 non-null  float64
 25  displ            45665 non-null  float64
 26  drive            44983 non-null  object
 27  engId            46169 non-null  float64
 28  eng_dscr         29092 non-null  object
 29  feScore          44953 non-null  float64
 30  fuelCost08       44953 non-null  float64
 31  fuelCostA08      44953 non-null  float64
 32  fuelType         44953 non-null  object
 33  fuelType1        44953 non-null  object
 34  ghgScore         44953 non-null  float64
 35  ghgScoreA        44953 non-null  float64
 36  highway08        44953 non-null  float64
 37  highway08U       44953 non-null  float64
 38  highwayA08       44953 non-null  float64
 39  highwayA08U      44953 non-null  float64
 40  VClass           44953 non-null  object
 41  highwayCD        44192 non-null  float64
 42  highwayE         44192 non-null  float64
 43  highwayUF        44192 non-null  float64
 44  hlv              44192 non-null  float64
 45  hpv              44192 non-null  float64
 46  id               44192 non-null  float64
 47  lv2              44192 non-null  float64
 48  lv4              44192 non-null  float64
 49  mpgData          44179 non-null  object
 50  phevBlended      44192 non-null  object
 51  pv2              44192 non-null  float64
 52  pv4              44192 non-null  float64
 53  range            44192 non-null  float64
 54  rangeCity        44192 non-null  float64
 55  rangeCityA       44192 non-null  float64
 56  rangeHwy         44192 non-null  float64
 57  rangeHwyA        44192 non-null  float64
 58  trany            44181 non-null  object
 59  UCity            44192 non-null  float64
 60  UCityA           44192 non-null  float64
 61  UHighway         44192 non-null  float64
 62  UHighwayA        44192 non-null  float64
 63  youSaveSpend     44192 non-null  float64
 64  guzzler          2635 non-null   object
 65  trans_dscr       14391 non-null  object
 66  tCharger         8531 non-null   object
 67  sCharger         987 non-null    object
 68  atvType          4386 non-null   object
 69  fuelType2        1647 non-null   object
 70  rangeA           1642 non-null   object
 71  evMotor          1874 non-null   object
 72  mfrCode          15200 non-null  object
 73  c240Dscr         133 non-null    object
 74  charge240b       44170 non-null  float64
 75  c240bDscr        127 non-null    object
 76  createdOn        44170 non-null  object
 77  modifiedOn       44170 non-null  object
 78  startStop        14357 non-null  object
 79  phevCity         44170 non-null  float64
 80  phevHwy          44170 non-null  float64
 81  phevComb         44170 non-null  float64
dtypes: float64(57), int64(1), object(24)
memory usage: 28.9+ MB

Como no se puede ver todas las columnas, vamos a llamar a todas para que podamos ver completo el archivo

In [80]:
VFED.columns

Index(['Year', 'Manufacturer', 'Model', 'barrels08', 'barrelsA08', 'charge240',
       'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

Eliminamos columnas inecesarias para nuestros objetivos

In [81]:
# Lista de columnas que quieres eliminar
drops = ['barrels08', 'barrelsA08', 'charge240', 'city08U', 'cityA08', 'cityA08U','cityCD', 'cityE', 'cityUF', 'co2A',
         'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U','combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF',
         'cylinders', 'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore', 'ghgScoreA',
         'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF','hlv', 'hpv', 'id', 'lv2',
         'lv4', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy','rangeHwyA', 'trany',
         'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr', 'tCharger','sCharger', 'atvType',
         'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn', 'modifiedOn','startStop',
         'phevCity', 'phevHwy', 'phevComb', 'fuelType2', 'fuelType']

# Eliminar las columnas
VFED_nuevo = VFED.drop(columns=drops)

Entre los distintos tipos de combustible decidi dejar "fuelType1" porque nos da mayor informacion y las otras columnas tenian mas valores nulos

In [82]:
VFED_nuevo.head(2)

,Year,Manufacturer,Model,city08,co2,fuelType1,VClass
0,2017,BMW,M6 Coupe,15.0,519.0,Premium Gasoline,Subcompact Cars
1,2017,BMW,X3 sDrive28i,21.0,374.0,Premium Gasoline,Small Sport Utility Vehicle 2WD

In [83]:
# Calcular el porcentaje de valores nulos en cada columna
porcentaje_nulos = (VFED_nuevo.isnull().mean()) * 100

# Imprimir el porcentaje de valores nulos en cada columna
print("Porcentaje de valores nulos en cada columna:")
print(porcentaje_nulos)

Porcentaje de valores nulos en cada columna:
Year            0.000000
Manufacturer    0.000000
Model           0.021652
city08          0.036808
co2             0.036808
fuelType1       2.669640
VClass          2.669640
dtype: float64

In [84]:
# Encontrar valores nulos
valores_nulos = VFED_nuevo.isnull()

# Mostrar los valores nulos
print("Valores nulos en el archivo:")
print(valores_nulos)

Valores nulos en el archivo:
        Year  Manufacturer  Model  city08    co2  fuelType1  VClass
0      False         False  False   False  False      False   False
1      False         False  False   False  False      False   False
2      False         False  False   False  False      False   False
3      False         False  False   False  False      False   False
4      False         False  False   False  False      False   False
...      ...           ...    ...     ...    ...        ...     ...
46181  False         False  False   False  False      False   False
46182  False         False  False   False  False      False   False
46183  False         False  False   False  False       True    True
46184  False         False  False   False  False      False   False
46185  False         False  False   False  False      False   False

[46186 rows x 7 columns]

In [85]:
vfed_limpio = VFED_nuevo.dropna()
print("¿Hay filas vacías en el DataFrame?:", vfed_limpio.empty)

¿Hay filas vacías en el DataFrame?: False

In [86]:
vfed_limpio

,Year,Manufacturer,Model,city08,co2,fuelType1,VClass
0,2017,BMW,M6 Coupe,15.0,519.0,Premium Gasoline,Subcompact Cars
1,2017,BMW,X3 sDrive28i,21.0,374.0,Premium Gasoline,Small Sport Utility Vehicle 2WD
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,Premium Gasoline,Midsize Cars
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,Premium Gasoline,Minicompact Cars
4,2017,Kia,Sedona SX,18.0,433.0,Regular Gasoline,Minivan - 2WD
...,...,...,...,...,...,...,...
46180,1985,Dodge,B150/B250 Wagon 2WD,14.0,-1.0,Regular Gasoline,Vans
46181,1993,Plymouth,Sundance/Duster,21.0,-1.0,Regular Gasoline,Compact Cars
46182,1993,Pontiac,Grand Am,18.0,-1.0,Regular Gasoline,Compact Cars
46184,1993,Subaru,Legacy,19.0,-1.0,Regular Gasoline,Compact Cars
46185,1993,Subaru,Legacy AWD,18.0,-1.0,Regular Gasoline,Compact Cars

In [87]:
# Calcular el porcentaje de valores nulos en cada columna
porcentaje_nulos = (vfed_limpio.isnull().mean()) * 100

# Imprimir el porcentaje de valores nulos en cada columna
print("Porcentaje de valores nulos en cada columna:")
print(porcentaje_nulos)

Porcentaje de valores nulos en cada columna:
Year            0.0
Manufacturer    0.0
Model           0.0
city08          0.0
co2             0.0
fuelType1       0.0
VClass          0.0
dtype: float64

In [88]:
# Verificar si existen valores duplicados
existen_duplicados = vfed_limpio.duplicated().any()
# Imprimir el resultado
if existen_duplicados:
    print("Existen valores duplicados en el DataFrame.")
else:
    print("No existen valores duplicados en el DataFrame.")

Existen valores duplicados en el DataFrame.

In [89]:
# Encontrar filas duplicadas basadas en todas las columnas
duplicados = vfed_limpio[vfed_limpio.duplicated(keep=False)]
duplicados

,Year,Manufacturer,Model,city08,co2,fuelType1,VClass
7,1987,GMC,R15 Pickup 2WD,14.0,-1.0,Regular Gasoline,Standard Pickup Trucks
16,1987,GMC,R15 Pickup 2WD,18.0,-1.0,Diesel,Standard Pickup Trucks
21,1987,GMC,R25 Pickup 2WD,14.0,-1.0,Regular Gasoline,Standard Pickup Trucks
24,1987,GMC,R25 Pickup 2WD,14.0,-1.0,Regular Gasoline,Standard Pickup Trucks
27,1987,GMC,R25 Pickup 2WD,12.0,-1.0,Regular Gasoline,Standard Pickup Trucks
...,...,...,...,...,...,...,...
46177,1993,Mitsubishi,Diamante,16.0,-1.0,Premium Gasoline,Compact Cars
46178,1993,Mitsubishi,Diamante,16.0,-1.0,Premium Gasoline,Compact Cars
46180,1985,Dodge,B150/B250 Wagon 2WD,14.0,-1.0,Regular Gasoline,Vans
46181,1993,Plymouth,Sundance/Duster,21.0,-1.0,Regular Gasoline,Compact Cars
46185,1993,Subaru,Legacy AWD,18.0,-1.0,Regular Gasoline,Compact Cars

In [90]:
# Eliminar todas las filas duplicadas basadas en todas las columnas
vfed_limpios = vfed_limpio.drop_duplicates()
vfed_limpios

,Year,Manufacturer,Model,city08,co2,fuelType1,VClass
0,2017,BMW,M6 Coupe,15.0,519.0,Premium Gasoline,Subcompact Cars
1,2017,BMW,X3 sDrive28i,21.0,374.0,Premium Gasoline,Small Sport Utility Vehicle 2WD
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,Premium Gasoline,Midsize Cars
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,Premium Gasoline,Minicompact Cars
4,2017,Kia,Sedona SX,18.0,433.0,Regular Gasoline,Minivan - 2WD
...,...,...,...,...,...,...,...
46176,1993,Mercedes-Benz,400E,16.0,-1.0,Premium Gasoline,Compact Cars
46177,1993,Mitsubishi,Diamante,16.0,-1.0,Premium Gasoline,Compact Cars
46179,1993,Oldsmobile,Achieva,21.0,-1.0,Regular Gasoline,Compact Cars
46182,1993,Pontiac,Grand Am,18.0,-1.0,Regular Gasoline,Compact Cars
46184,1993,Subaru,Legacy,19.0,-1.0,Regular Gasoline,Compact Cars

Vamos a cambiar el nombre de nuestras columnas

In [91]:
nuevos_nombres = {
    'fuelType1': 'Tipo de Combustible',
    'VClass': 'Categoria',
    'co2': 'CO2',
    'city08': 'City08'
}
vfed_final= vfed_limpios.rename(columns=nuevos_nombres)
vfed_final

,Year,Manufacturer,Model,City08,CO2,Tipo de Combustible,Categoria
0,2017,BMW,M6 Coupe,15.0,519.0,Premium Gasoline,Subcompact Cars
1,2017,BMW,X3 sDrive28i,21.0,374.0,Premium Gasoline,Small Sport Utility Vehicle 2WD
2,2016,Infiniti,Q50S Red Sport,20.0,402.0,Premium Gasoline,Midsize Cars
3,2017,MINI,John Cooper Works Convertible,24.0,327.0,Premium Gasoline,Minicompact Cars
4,2017,Kia,Sedona SX,18.0,433.0,Regular Gasoline,Minivan - 2WD
...,...,...,...,...,...,...,...
46176,1993,Mercedes-Benz,400E,16.0,-1.0,Premium Gasoline,Compact Cars
46177,1993,Mitsubishi,Diamante,16.0,-1.0,Premium Gasoline,Compact Cars
46179,1993,Oldsmobile,Achieva,21.0,-1.0,Regular Gasoline,Compact Cars
46182,1993,Pontiac,Grand Am,18.0,-1.0,Regular Gasoline,Compact Cars
46184,1993,Subaru,Legacy,19.0,-1.0,Regular Gasoline,Compact Cars

Por ultimo vemos si los tipos de datos nuevamente

In [92]:
tipos_de_datos = vfed_final.dtypes
print(tipos_de_datos)

Year                     int64
Manufacturer            object
Model                   object
City08                 float64
CO2                    float64
Tipo de Combustible     object
Categoria               object
dtype: object

Guardamos en formato parquet

In [93]:
vfed_final.to_parquet('D:/escritorio/NYC-TAXIS/NYC_TAXIS-CO2/Data/Normalized/vfed_limpio.parquet', index=False)